:root {
    --border-color:rgb(222, 222, 222);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(135, 182, 185);
}

#app-container {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    filter: drop-shadow(4px 4px 4px rgb(190, 190, 255));
}

form {
    display: flex;
    align-items: center;
}
form > * {
    margin-right: 5px;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

#search-input {
    border-radius: 2px;
    height: 25px;
    padding-left: 4px;
}

#search-input:invalid {
    border: 1px solid red;
}

#search-input:valid {
    border: 1px solid black;
}

#output-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#data-container > * {
    padding: 3px 0px;
}

#data-container {
    width: 70%;
    border-right: 2px solid var(--border-color);
}

#submit-button {
    border: none;
    color: white;
    background-color: rgb(113, 154, 235);
    height: 26px;
    width: 60px;
    border-radius: 3px;
}

#submit-button:hover {
    background-color: rgb(45, 75, 135);
}

#submit-button:active {
    background-color: black;
}

h1 {
    color:rgb(62, 62, 63);
}

h2 {
    color:rgb(113, 115, 119);
    font-weight: 400;
}

#who-cares-container {
    padding-top: 2px;
}

#who-cares-container > * {
    border-right: 2px solid var(--border-color);
    padding: 0px 2px;
}

#current-conditions {
    border-right: none;
}

#style-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

#big-temperature {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 75px;
    letter-spacing: 0px;
    transform: scale(1, 1);
    padding: 20px;
}

.degree-symbol {
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 200;
}

#weather-condition-graphic {
    width: 50%;
}

#toggle-degrees {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: 1s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #55758f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #5b8bb2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }