:root {
    --border-color:rgb(222, 222, 222);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(135, 182, 185);
}

#app-container {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    filter: drop-shadow(4px 4px 4px rgb(190, 190, 255));
}

form {
    display: flex;
    align-items: center;
}
form > * {
    margin-right: 5px;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

#search-input {
    border-radius: 2px;
    height: 25px;
    padding-left: 4px;
}

#search-input:invalid {
    border: 1px solid red;
}

#search-input:valid {
    border: 1px solid black;
}

#output-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#data-container > * {
    padding: 3px 0px;
}

#data-container {
    width: 50%;
    border-right: 2px solid var(--border-color);
}

#submit-button {
    border: none;
    color: white;
    background-color: rgb(113, 154, 235);
    height: 26px;
    width: 60px;
    border-radius: 3px;
}

#submit-button:hover {
    background-color: rgb(45, 75, 135);
}

#submit-button:active {
    background-color: black;
}

h1 {
    color:rgb(62, 62, 63);
}

h2 {
    color:rgb(113, 115, 119);
    font-weight: 400;
}

#who-cares-container {
    padding-top: 2px;
}

#who-cares-container > * {
    border-right: 2px solid var(--border-color);
    padding: 0px 2px;
}

#current-conditions {
    border-right: none;
}

#style-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

#big-temperature {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 75px;
    letter-spacing: 0px;
    transform: scale(1, 1);
    padding: 20px;
}

#weather-condition-graphic {
    width: 50%;
}